# PYTHON

## Identifiers and literals

- indentifiers are name given to a variables
- literals are the variables of the identifier, 3 types of literals: numeric, string, boolean

In [ ]:
a=10
b=5.2
c='Hello Aimee'
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

## Expressions and operators

- expression is the combination of the operators ( -, +, / )

- types of operators: Arithmetic, comparison, logical

## Arithmetic operators

- addition: a+b
- subtraction: a-b
- multiplication: a*b
- division: a/b
- modulo: a % b
- floor division: a // b
- exponent: a ** b

In [ ]:
a=10
b=4

print(a % b) #remainder after divide the operands
print(a // b) #result show the whole number in the left, no decimal
print(a ** b) #a power of b ^

## Comparison operators

- equal to: a == b
- not equal to: a != b
- greater than or less than: a <b, a>b
-  greater than equal or oposite: a >= b, a<=b

## Logical operators

1. Logical AND:

- print(True and False) --> False
- print(True and True) -- True
  
2. Logical OR:
- print(True or False) --> True
- print(True or True) -- True
- print(False or False) --> False
  
3. Logical NOT
- print(not True) --> False
- print(not False) --> True

#### Logical operators with expresions
- print(a >= b) and (a <=c)

# PYTHON PACKAGES AND STRUCTURES

1. What is packages and how to use

- Modules: are designed to be imported and reused in other Python, are grouped together into Python Packages, developers can create their own and even use third party packages. Python std library has numerous packages already installed.
- Packages: are a group of 1 or more related modules.

2. Python data structures: Lists, tupples, sets

In [ ]:
import camelcase
c= camelcase.CamelCase()
s= 'how are you ?'
print(c.hump(s))

## Python data structures

### LIST []
- creating lists with str, number, mixed data types.

- creating a nested list - ex: mixed_list=[1, 'john, 2,['a','b','c']]

- creating empty list -ex: empty=[] print(empty)

#### Characteristics of the list

In [ ]:
#Accessing elements in the lists

my_list=['john','andy','olive','allie' ,'jade']
mixed_list=[1, 'john', 2,['a','b','c']]

print(my_list[0])
print(my_list[-5])

print(mixed_list[3][1])
print(my_list[1:3]) # x[inclusive:exclusive]
print(my_list[:]) 
print(my_list[:3])
print(my_list[3:])

In [ ]:
#LIST CAN BE MODIFIED
my_list[0]='johny'
num_list =[1,4,6]

my_list.append('rob')
print(my_list)
sum(num_list)

In [ ]:
#LIST CAN BE MODIFIED
my_list=['john','peter','sarah']
my_list[0]='johny'
num_list =[1,4,6]

my_list.append('rob')


my_list.pop()
my_list.remove('peter')
my_list.insert(1,'aimee')


#creat new list to add multiple elements

list_name =['sofia','katie','matt']
my_list.extend(list_name)
my_list

# remove all the element in teh list by CLEAR METHOD
list_name.clear()
list_name
my_list

In [ ]:
# COPYING THE LIST
## LIASING : lists is impacted becasue only one memory

a=[1,2,3]
b=a
b.append(4)
a
b

## CLONING: lists is not impacted

a=[1,2,3]
b=list(a)
b.remove(2)
print(b)
print(a)

In [ ]:
# OTHER LISTS METHOD
list_not_ordered = [4,7,2,5]
list_not_ordered.sort()
list_not_ordered
#help(list_not_ordered)

#reverse: justchange the order temporary
reverse_list =[1,2,3,4]
reverse_list.reverse()
reverse_list

#concatenating lists
new_con = list_not_ordered + reverse_list
new_con

#count
new_con.count(4)

# split
text ='this is python basic'
text_list = text.split()
text_list

### TUPLES ()
- tuples are limited version of lists
- Is the data structure allows to store multiple items
- memory mamgement, preserving the data, function
- tuple are immutable, lists are mutable\
- tuple usualy store items of different data types, lists store the same data types


ex: 
def math_operations(num1,num2):
    sum =num1 + num2
    diff = num1-num2
    power=num1*num2
    div=num1/num2
    return(sum, diff, power,div)
math_operations(4,2)

In [ ]:
def math_operations(num1,num2):
    sum =num1 + num2
    diff = num1-num2
    power=num1*num2
    div=num1/num2
    return(sum, diff, power,div)
math_operations(4,2)

In [ ]:
# LISTS HAVE THE ORDER
# LISTS ALLOWS DUPLICATES

# INDEXING AND SLICING
new_list=[1,5,7,9,2,7]

new_list.index(7)
new_list[2]

10 in new_list
2 in new_list

In [ ]:
# ceating a tuple
my_tuple=('apple','banana','cherry')
other_tuple='apple','banana','cherry' # also tuple
single_element_tuple=('apple',) # must have comma in the end, otherwise will be str
mixed_tuple=('apple','banana',1,2,3)
empty_tuple=()

#accessing elements
print(my_tuple[0])
print('apple' in my_tuple)
print('appple' not in my_tuple)
print('lemon' in my_tuple)
print('lemon' not in my_tuple)

In [ ]:
# tuple packing and unpacking

name ='john'
age=25
city='Australia'
packed_tuple=name, age, city
print(packed_tuple)

person = packed_tuple
name, age, city = person
print(name)
print(age)
print(city)

In [ ]:
# tuple used in a function

def get_user_info():
    name='John Doe'
    age=30
    city='New York'
    return name, age, city

name, age, city=get_user_info()

print('Name:', name)
print('Age:', age)
print('City', city)

#### Characteristics of the tuple
- cannot be modified
- have an order
- allows duplicates

- Tuples in real world
  1. storing geographic cp-ordinates of location
  2. geographic co-ordinates won't change
  3. tuples are imutable and avoid any accidental changes

In [ ]:
# practice tuples

# modified a tuple- convert to list tuple.list() than modify - after modify can convert into tuple

dir(my_tuple) # to see which function can use in tuples

#packing the tuple
quantity=(30,20,100)
(apple, orange, *strawberry) = (30,20,100,40,80)
strawberry

### SETS {}

- unordered

- don't accept suplicates

- are mutable

- can be tranformd into immutable sets with frozenset() commend

- Sets in real world
  1. email list in your application
  2. sets are used to maintain list of unique items
  3. mailing data needs unique email addresses

- CREATING A SET

In [ ]:
my_str_set = {'aime', 'le'}
my_int_set={1,2,3}
mixed_set = {'aimme','le', 97}
empty_set = set() 

print(type(empty_set))

In [ ]:
# creating  set using lists

lists=['aimee', 'le','1997']
list_set = set(lists)
print(list_set)

- ACCESSING ELEMENTS

In [ ]:
my_set = {'aimme','le', 97}

for ele in my_set:
    print(ele)

In [ ]:
# using operators to check if elements exist in the sets

print('sarah' in my_set)
print('sarah' not in my_set)

- CHARACTERISTICS OF SET

In [ ]:
# can't be modified: my_set[0] = 'aimee.le'
# set dont' have the order
# sets not allow duplicates

In [ ]:
# using set to remove duplicate of lists

list=['candy','bread','sugar','salt','bread']
create_set =set(list)
create_set

In [ ]:
# manipulate data of sets

#discard and remove elements
create_set.discard('candy') #careful with remove functions.

#ading elements
create_set.add('seafood')
create_set.add('tuna can')
create_set

#add multiple elements into the sets
add_items=('fish','meat','powder')
create_set.update(add_items)
create_set

create_set.pop() #delete random element in the set
create_set

In [ ]:
# logic operation in sets

a={'fish','dog','cat','cow'}
b={'cow','chicken','lamp','koala','dog'}

print(a.union(b))
print(a.intersection(b))
print(b.difference(a))
print(b.issubset(a))
print(b.issuperset(a))

#### DICTIONARIES
- COMPONENTS
- PROPERTIES

#KEY-VALUE PAIRS: 
- key: unique keys, immutable
- value: duplicate, mutable

In [ ]:
#create dictionaries: product name and stock quantiy

supply ={'apple':4,'mango':6, 'orange':8}
print(type(supply))

#select a value
print(supply['apple'])

#update the stock qty
supply['orange'] = 2
supply

# constructing a new dictionary
basket = dict(orange =1.2)
print(basket)

#adding elements
basket['lemon'] = 0.9
print(basket)

In [ ]:
# create nested doctionaries

inventory ={'orange':{'price':1.2,'stock':10}, 'lemon':{'price':0.9,'stock':20}}
inventory

In [ ]:
len(inventory)

In [ ]:
#retrieving a value
inventory['orange']['price']

In [ ]:
#converting lists into dictionaries
product =['orange','lemon']
prices = [1.2,0.9]
cart = dict(zip(product,prices))
cart

In [ ]:
#manipulating dictionaries

supply ={'apple':4,'mango':6, 'orange':8}

#total stock qty
sum(supply.values())

#list the items in the dictionaries
print(supply.keys())
print(supply.items())


#SORT FUNCTIONS
#asc
print(sorted(supply))
#desc
print(sorted(supply.keys(), reverse = True))

In [ ]:
#mambership testing
'orange' in supply

In [ ]:
#retrieve value
print(supply.get('mango'))
print(supply.get('lemon', 'This key does not exist'))

In [ ]:
#altering dictionaries

#add new elements
supply.update({'lemon':10})
supply.update({'mango':100})
print(supply)

# can also add multiple elements
# remove element
supply.pop('banana','This key does not exist')

supply.popitem()

#remove all elements
supply.clear()
print(supply)

In [ ]:
# Aliasing and copying
supply ={'apple':4,'mango':6, 'orange':8}
supply_copy =supply.copy()
supply_copy.update({'pinable':10})

print(supply)
print(supply_copy)